* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #F1F5F9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}

.contenedor {
  background: #FFFFFF;
  border: 3px solid #000000;
  box-shadow: 6px 6px 0px #000000;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.campo {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.campo input {
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 6px;
  font-size: 16px;
}

#btn-calcular {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #FDE047;
  border: 2px solid #000000;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s ease;
}

#btn-calcular:hover {
  background-color: #FBBF24;
  transform: scale(1.02);
}

.caja-resultado {
  margin-top: 20px;
  padding: 14px;
  border: 2px solid #000000;
  border-radius: 6px;
  background-color: #E2E8F0;
  text-align: center;
  font-weight: bold;
}
